@media screen and (min-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 2 / 5 / 4;
  }
  .div2 {
    grid-area: 5 / 2 / 8 / 3;
  }
  .div3 {
    grid-area: 5 / 3 / 8 / 4;
  }
  .div4 {
    grid-area: 1 / 4 / 8 / 5;
  }
  .div5 {
    grid-area: 8 / 3 / 11 / 5;
  }
  .div6 {
    grid-area: 8 / 2 / 11 / 3;
  }
  .div7 {
    grid-area: 1 / 1 / 6 / 2;
  }
  .div8 {
    grid-area: 6 / 1 / 11 / 2;
  }
}
.card {
  margin: 20px;
}
